* {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #666664;
}

body {
    background-color: #EBF3FA
}

body>div:first-child {
    background-position: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/71/089-skull.svg);
    background-attachment: fixed;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    position: absolute;
    background-repeat: no-repeat;
}

header {
    font-family: 'Permanent Marker', cursive;
}

header h1 {
    font-size: 100px;
}

header p {
    font-size: 65px;
    color: #870A30;
}

header nav li {
    font-size: 25px;
    display: inline;
    padding: 0px 50px 20px;
}

footer {
    font-family: 'Roboto', sans-serif;
    color: #909493;
}

h3 {
    padding-top:30px;
}

