@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<head>

</head>
<body>
   
    <h3>
        Brody Rebne
    </h3>
    <a href="https://www.linkedin.com/in/brody-rebne/">
        <img src=~/assets/brody2.1.jpg />
    </a>
    <p>Text here</p>

    <h3>
        Harlen Lopez
    </h3>
    <a href="https://www.linkedin.com/in/harlen-lopez-ab9349aa/">
        <img src=~/assets/harlen.png />
    </a>
    <p>Text here</p>

    <h3>
        Harry Cogswell
    </h3>
    <a href="https://www.linkedin.com/in/harrison-cogswell/">
        <img src="https://i.imgur.com/j4sKNms.jpg/">
    </a>
    <p>Text here</p>

    <h3>
        Jin Kim
    </h3>
    <a href="https://www.linkedin.com/in/jin-wookim/">
        <img src="https://i.imgur.com/yoXOtlg.png" />
    </a>
    <p>Text here</p>

    <h3>
        Rosalyn Johnson
    </h3>
    <a href ="https://github.com/rosbobos/book_app/tree/master/public">
        <img src="~/assets/rosalyn.jpg" />
    </a>
    <p>Text here</p>
</body>

