@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<head>

</head>
<body>
    <h1>About Us</h1>
    <h3>
        Brody Rebne
    </h3>
    <img url(https://github.com/TeamBoPeep/BoPeepMVCApp/blob/dev-master/BoPeepMVC/BoPeepMVC/wwwroot/assets/brody.jpg) />
    <p>Text here</p>

    <h3>
        Harlen Lopez
    </h3>
    <img url(https://github.com/TeamBoPeep/BoPeepMVCApp/blob/dev-master/BoPeepMVC/BoPeepMVC/wwwroot/assets/harlen.png) />
    <p>Text here</p>

    <h3>
        Harry Cogswell
    </h3>
    <img url(BoPeepMVC/BoPeepMVC/wwwroot/assets/harry.jfif) />
    <p>Text here</p>

    <h3>
        Jin Kim
    </h3>
    <img url(BoPeepMVC/BoPeepMVC/wwwroot/assets/jin.jfif) />
    <p>Text here</p>

    <h3>
        Rosalyn Johnson
    </h3>
    <img url(https://github.com/TeamBoPeep/BoPeepMVCApp/blob/dev-master/BoPeepMVC/BoPeepMVC/wwwroot/assets/rosalyn.jpg) />
    <p>Text here</p>
</body>

