@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<head>

</head>
<body>
    <div class="flex-container">
        <div class="inner-container1">
            <h3>
                Brody Rebne
            </h3>
            <a href="https://www.linkedin.com/in/brody-rebne/">
                <img src=~/assets/brody2.1.jpg />
            </a>
            <p style="height:300px;width:275px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                My name's Brody Rebne, and I'm a full-stack developer. 6 years ago I founded a tech company, where I built an idea into a market-viable product. While I was there I worked on our product design, marketing, project management, pretty much everything except development. I learned a lot in my time there, developing features to user needs, designing something for huge scale, and working with a ton of clients and customers.
                I also learned that a lot of the work I was doing wasn't quite fulfilling to me. Outside of the product design it rarely felt like I was solving a problem for people in my day to day work. I'm coming to development now to work on something collaborative where I can leverage my creativity and problem solving skills to build a more sustainable career.
                I'm hoping to unify my skill set on a development team, and get started on building something again.
            </p>
        </div>
        <div class="inner-container2">
            <h3>
                Harlen Lopez
            </h3>
            <a href="https://www.linkedin.com/in/harlen-lopez-ab9349aa/">
                <img src=~/assets/harlen.png />
            </a>
            <p style="height:300px;width:275px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                Hello, my name is Harlen Lopez, I am a software developer in the greater Seattle area. I have a background in Military Intelligence as a Human Intelligence and Counter intelligence Analyst. In this role I worked on classified systems and networks to collect and disseminate intelligence reporting working closely with team member to accomplish a wide range of missions. I think my analytical background will allow me to better deal with the challenges that this may presents.
                I want to work as a Software Developer so I can assist those who would most benefit from the incorporation of technology in everyday life. Ideally, I want to develop apps to assist individuals with mental disorders to lead a full life. I believe by giving the proper tools to medical professionals we can assist them in making meaningful, effective change Thank you for your time.
            </p>
        </div>
        <div class="inner-container3">
            <h3>
                Harry Cogswell
            </h3>
            <a href="https://www.linkedin.com/in/harrison-cogswell/">
                <img src="https://i.imgur.com/j4sKNms.jpg/">
            </a>
            <p style="height:300px;width:275px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                I'm a software developer, but the majority of my background up to this point has been in the arts. I studied and worked in Music and Theater for 6 years before moving into the tech field.
                My dream is to bring my personal affinity for the arts and my own artistic history into my software development; to create new and innovative ways for people to share their thoughts and express their art, whether that be traditionally visual and performance based, or more modern artistic expression.
                I was given some incredible opportunities as an actor; opportunities I think every person, whether they see themselves as creative or not, deserve to experience.
                In my job search, what I want most to find are those companies that seek to use software and web technology to provide outlets for all, but especially cater to those who are insecure or suffer with the anxiety of face-to-face interactions, allowing them to better express themselves.
                Like many nowadays, I'm passionate about gaming, and I'd be thrilled to work in video game development, which I see as a beautiful, unique platform that provides an extensive heap of opportunities for today's digital artists (writers, composers, and animators) to have their hard work seen and appreciated.
            </p>
        </div>
        <div class="inner-container4">
            <h3>
                Jin Kim
            </h3>
            <a href="https://www.linkedin.com/in/jin-wookim/">
                <img src="https://i.imgur.com/yoXOtlg.png" />
            </a>
            <p style="height:300px;width:275px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                My name is Jin Kim and I am a software developer. Growing up, I would sit in front of the computer for hours and hours, wondering who is behind the screen making the game, I would often talk to the screen wondering if anyone will answer back. But I started to notice myself drawn to it more when my family was going through hardship. During that time I think I coped with it little better because of technology and gaming.  Game served as an escape of reality for me and I was drawn to it more and more.
                I moved to Seattle to apply to dental school but I noticed myself being disconnected from that more and more as the time pass and I finally made a move to change my career into something that I am truly passionate about. Needless to say that my question has been answered about the man behind the screen and I want to build an application that not only is comprehensive and scalable, but helps to inspire kids like me in future
            </p>
        </div>
        <div class="inner-container5">
            <h3>
                Rosalyn Johnson
            </h3>
            <a href="https://github.com/rosbobos/book_app/tree/master/public">
                <img src="~/assets/rosalyn.jpg" />
            </a>
            <p style="height:300px;width:275px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                Hello I am Rosalyn Johnson, I am dedicated to being a great Project Manager. I came into the tech industry planning to be a developer; but fell in love with being a Project Manager. I have a background in the service industry. Meaning I have a rich history of working as a team to solve complex problems, all for the customers convenience. So not only am I able to address personal problems in the workplace, but also to address coding difficulties. Being able to understand code and people together gives me the range a project manager needs. I am proficient C#, HTML, CSS and Javascript for both front and back end development. Which helps me work with the team on any problem. I am passionate about inclusive work environments where everyone feels safe. My goal is a company that gives weight to mental and physical health as a means to increase productivity. That way I can truly be the best Project manager I can and help my team succeed.
            </p>
        </div>
    </div>
    <footer>
        <p><em>BoPeep Development &copy; 2020</em></p>
    </footer>
</body>

