@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<head>
    <title>Bored To Death: The Boredom Killer</title>
</head>
<body>
    <form method="post">
        <label name="tag1">
            Test Tag 1
            <input type="checkbox" value="sports" />
        </label>
        <label name="tag2" >
            Test Tag 1
            <input type="checkbox" value="crafts"/>
        </label>
        <label name required="Keyword">
            <input type="text" placeholder="Search by Keyword(s)" name="Keyword" />
        </label>
        <button type="submit">Search</button>
    </form>

</body>