@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<head>
    <title>Bored To Death: The Boredom Killer</title>
</head>
<body>
    <form class="row" method="post">
        <label class="column" name="tag1">
            Flora/fauna
            <input type="checkbox" value="sports" />
        </label>
        <label class="column" name="tag2">
            Exercise
            <input type="checkbox" value="crafts" />
        </label>
        <label class="column" name="tag3">
            Games
            <input type="checkbox" value="crafts" />
        </label>
        <label class="column" name="tag4">
            Social
            <input type="checkbox" value="crafts" />
        </label>
        <label class="column" name="tag5">
            Pets
            <input type="checkbox" value="crafts" />
        </label>
        <label class="column" name="tag6">
            Arts&Crafts
            <input type="checkbox" value="crafts" />
        </label>
        <label class="column" name="tag7">
            Self care
            <input type="checkbox" value="crafts" />
        </label>
        <label class="column" name="tag8">
            Online
            <input type="checkbox" value="crafts" />
        </label>
        <label class="column" name="tag9">
            Productive
            <input type="checkbox" value="crafts" />
        </label>
        <label class="column" name="tag10">
            Baking/cooking
            <input type="checkbox" value="crafts" />
        </label>
        <br />
        <div>
            <label name required="Keyword">
                <input type="text" placeholder="Search by Keyword(s)" name="Keyword" />
            </label>
            <button type="submit">Search</button>
        </div>
    </form>

</body>