@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<head>
    <title>Bored To Death: The Boredom Killer</title>
</head>
<body>
    <h2>Add a New Activity</h2>

    <form method="post">
        <label for="title">Title</label><input type="text" name="title"/>
        <label for="description">Description</label><textarea name="description"></textarea>
        <input type="radio" name="location" value="0" /><label for="0">Indoor</label>
        <input type="radio" name="location" value="1" /><label for="1">Outdoor</label>
        <input type="radio" name="location" value="2" /><label for="2">Both</label>
        <label for="externallink">Link to More Info</label><input type="url" name="externallink"/>
        <label for="imageurl">Header Image</label><input type="url" name="imageurl" />
        <button type="submit">Create</button>
    </form>
</body>