@model BoPeepMVC.Models.Activity

<!DOCTYPE html>
<head>
    <title>Bored to Death - Search "@Model.Keyword"</title>
</head>
<body>
    <p>You searched for @Model.Keyword</p>
    <p>The api responded with: @Model.ApiResponse</p>
</body>