@model BoPeepMVC.Models.Activity
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<head>
    <title>Bored To Death: The Boredom Killer</title>
</head>
<body>
    <img src="@Model.ImageURL" alt="@Model.Title" />
    <h2>Review @Model.Title:</h2>
    <form method="post">
        <label for="username">Your Name</label>
        <input type="text" name="username" placeholder="Enter your name..." />
        <div class="input-container">
            <div>
                <input type="radio" name="rate" value=0 id="Like" checked /><label for="Like"><img src="https://cdn.pixabay.com/photo/2017/06/13/12/52/heart-2398770_960_720.png" width="50"/></label>
            </div>
            <div>
                <input type="radio" name="rate" value=1 id="Dislike" /><label for="Dislike"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Dark_Red_x.svg/600px-Dark_Red_x.svg.png" width="50" /></label>
            </div>
        </div>
        <label for="review">Review</label>
        <textarea name="review" placeholder="Write your review">
        </textarea>
        <input name="activityId" value="@Model.ID" hidden />
        <button type="submit">Review</button>
    </form>

</body>