<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--All of the style sheets-->
    <link href="~/styleSheets/reset.css" rel="stylesheet" type="text/css">
    <link href="~/styleSheets/base.css" rel="stylesheet" type="text/css">
    <link href="~/styleSheets/layout.css" rel="stylesheet" type="text/css" />
    <!--Links to the google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <!--this is for the background image-->
    </div>
    <header>
        <h1>Bored To Death</h1>
        <p class="subtitle">The Boredom Killer</p>

        <nav>
            <ul>
                <li>Home</li>
                <li>Add Activity</li>
                <li>About Us</li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p><em>BoPeep Development &copy; 2020</em></p>
    </footer>
</body>
</html>
